<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Interactive Website</title>
</head>
<body>
    <h1>Global Counter</h1>
    <div id="counter">Clicks: {{ counter }}</div>
    <div id="minionCount">CPS: {{ minionCount }}</div>
    <div id="curr_users">Current Users: {{ curr_users }}</div>

    <div class="increment-button">
        <button id="increment" onclick="incrementCounter()">Click</button>
    </div>

    <div id="buyMinionDiv">
        <button id="buyMinion">Buy Minion (99 Clicks)</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
